.filter-box {
    -fx-border-width: 2px;
    -fx-border-color: #757575;
}

.filter-check-box {
    -fx-pref-height: 22px;
    -fx-font-size: 12.5;
    -fx-cursor: hand;
}

.apply-button {
    -fx-background-color: #FFC778;
    -fx-text-fill: #fff;
    -fx-font-weight: bold;
    -fx-cursor: hand;
}