#mainPane {
  -fx-background-color: #F89174;
}

.news-pane {
  -fx-background-color: white;
}

.task-pane {
  -fx-background-color: white;
}

.setting-pane {
  -fx-background-color: white;
}

.filter-box {
  -fx-background-color: white;
}

.clear-button {
  -fx-background-color: white;
  -fx-text-fill: #F89174;
  -fx-border-color: #F89174;
}

.apply-button {
  -fx-background-color: #F89174;
  -fx-text-fill: #fff;
}

.text-field {
  -fx-background-color: #1e1e1e, white;
  -fx-text-fill: #1e1e1e;
}
.text-field.error {
  -fx-background-color: #d63031, #ffdcdb;
}
.text-field:focused {
  -fx-background-color: #F89174, white;
}

.check-box {
  -fx-text-fill: #1e1e1e;
}
.check-box .box {
  -fx-background-color: white;
  -fx-border-color: #F89174;
}
.check-box:selected .box {
  -fx-background-color: #F89174;
}
.check-box:selected .mark {
  -fx-background-color: white;
}

.choice-box {
  -fx-background-color: white;
  -fx-border-color: #F89174;
  -fx-mark-color: #F89174;
}
.choice-box .label {
  -fx-text-fill: #1e1e1e;
}
.choice-box:focused {
  -fx-background-color: #F89174;
}
.choice-box:focused > .label {
  -fx-text-fill: white;
}
.choice-box .menu-item {
  -fx-background-color: white;
}
.choice-box .menu-item:focused {
  -fx-background-color: #F89174;
}
.choice-box .menu-item:focused .label {
  -fx-text-fill: white;
}

.scroll-pane {
  -fx-background-color: white;
}
.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-color: #F89174;
}

.border-button {
  -fx-background-color: white;
  -fx-border-color: #F89174;
  -fx-text-fill: #1e1e1e;
}

.label {
  -fx-text-fill: #1e1e1e;
}

.hyperlink {
  -fx-text-fill: #F89174;
}
