$main_color: #F89174;
$sub_color: white;
$text_color: rgb(30, 30, 30);
$link_text_color: #e74c3c;

.check-box {
  -fx-text-fill: $text_color;
  .box {
    -fx-background-color: $sub_color;
    -fx-border-color: $main_color;
  }
  &:selected {
    .box {
      -fx-background-color: $main_color;
    }
    .mark {
      -fx-background-color: white;
    }
  }
}

.choice-box {
  -fx-background-color: $sub_color;
  -fx-border-color: $main_color;
  -fx-mark-color: $main_color;
  .label {
    -fx-text-fill: $text_color;
  }
  &:focused {
    -fx-background-color: $main_color;
    > .label {
      -fx-text-fill: white;
    }
  }
  .menu-item {
    -fx-background-color: $sub_color;
    &:focused {
      -fx-background-color: $main_color;
      .label {
        -fx-text-fill: white;
      }
    }
  }
}

.scroll-pane {
  -fx-background-color: $sub_color;
  .scroll-bar:vertical .thumb {
    -fx-background-color: $main_color;
  }
}

.border-button {
  -fx-background-color: $sub_color;
  -fx-border-color: $main_color;
  -fx-text-fill: $text_color;
}

.label, .text {
  -fx-text-fill: $text_color;
}

.hyperlink {
  -fx-text-fill: $link_text_color;
}
