/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.button {
  -fx-border-radius: 3px;
  -fx-font-weight: bold;
  -fx-cursor: hand;
}

#closeWindow {
  -fx-background-color: transparent;
  -fx-background-size: 16px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center 10%;
  -fx-background-image: url("../close.png");
}

#minimize {
  -fx-background-color: transparent;
  -fx-background-size: 16px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center 10%;
  -fx-background-image: url("../minimize.png");
}

#NavigationBox #HBox .button {
  -fx-background-color: transparent;
  -fx-pref-height: 60;
  -fx-background-size: 32px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center 10%;
}
#NavigationBox #HBox #news {
  -fx-background-image: url("../newsIcon.png");
}
#NavigationBox #HBox #task {
  -fx-background-image: url("../taskIcon.png");
}
#NavigationBox #HBox #timeTable {
  -fx-background-image: url("../timeIcon.png");
}
#NavigationBox #HBox #setting {
  -fx-background-image: url("../settingIcon.png");
}

#reloadButton {
  -fx-background-color: transparent;
  -fx-pref-width: 1200;
  -fx-background-size: 64px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center 10%;
  -fx-background-image: url("../reload.png");
}

.filter-button {
  -fx-background-image: url("../filter.png");
  -fx-background-color: transparent;
  -fx-background-size: 18px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-cursor: hand;
}

.reload-button {
  -fx-background-color: transparent;
  -fx-background-size: 18px;
  -fx-background-repeat: no-repeat;
  -fx-background-position: center center;
  -fx-cursor: hand;
  -fx-background-image: url("../reload.png");
}

.toggle-button {
  -fx-background-radius: 0;
}

.tag-box .label {
  -fx-font-size: 11px;
  -fx-font-weight: bold;
}

.content-box {
  -fx-background-color: transparent;
  -fx-border-width: 0 0 0 4px;
  -fx-border-color: #757575;
}
.content-box .separator .line {
  -fx-border-width: 1 0 0 0;
}

/* News Tab CSS */
.filter-box .check-box {
  -fx-pref-height: 22px;
  -fx-font-size: 12.5;
  -fx-cursor: hand;
}

.content-box.alreadyRead {
  -fx-border-color: #a9d18e;
}
.content-box.alreadyRead .separator .line {
  -fx-border-width: 1 0 0 0;
  -fx-border-color: #a9d18e;
}
.content-box.unread {
  -fx-border-color: #FFC778;
}
.content-box.unread .separator .line {
  -fx-border-width: 1 0 0 0;
  -fx-border-color: #FFC778;
}

/* Task Tab CSS */
.content-box.task-before-one {
  -fx-border-color: #ff4500;
}
.content-box.task-before-one .taskLimitDay {
  -fx-text-fill: #b33000;
}
.content-box.task-before-one .separator .line {
  -fx-border-color: #ff4500;
}
.content-box.task-before-three {
  -fx-border-color: #FFC778;
}
.content-box.task-before-three .taskLimitDay {
  -fx-text-fill: #b38b54;
}
.content-box.task-before-three .separator .line {
  -fx-border-color: #FFC778;
}
.content-box.task-before-seven {
  -fx-border-color: #e6e600;
}
.content-box.task-before-seven .taskLimitDay {
  -fx-text-fill: #b3b300;
}
.content-box.task-before-seven .separator .line {
  -fx-border-color: #e6e600;
}
.content-box.task-after-seven {
  -fx-border-color: #a9d18e;
}
.content-box.task-after-seven .taskLimitDay {
  -fx-text-fill: #90b379;
}
.content-box.task-after-seven .separator .line {
  -fx-border-color: #a9d18e;
}

/* Time Table */
.time-table .label {
  -fx-font-size: 14px;
}

/* Setting Pane */
/*  */
.label {
  -fx-font-size: 14px;
}

.text-field {
  -fx-font-size: 14px;
  -fx-background-insets: 0 0 0 0, 0 0 1 0;
  -fx-background-radius: 0;
}
.text-field.error {
  -fx-background-color: #d63031, #ffdcdb;
}
.text-field:focused {
  -fx-background-insets: 0 0 -1 0, 0 0 1 0;
}

.check-box {
  -fx-text-size: 14px;
}
.check-box .box {
  -fx-border-radius: 3px;
}

.choice-box {
  -fx-font-weight: bold;
  -fx-cursor: hand;
  -fx-pref-width: 100px;
}
.choice-box .context-menu {
  -fx-pref-width: 100px;
  -fx-max-height: 700px;
}
.choice-box .menu-item:focused .label {
  -fx-font-weight: bold;
}

.scroll-pane {
  -fx-padding: 10px;
}
.scroll-pane > .viewport {
  -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical {
  -fx-background-color: transparent;
}
.scroll-pane .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-background-radius: 0em;
}
.scroll-pane .scroll-bar:vertical .thumb {
  -fx-background-radius: 5em;
}
.scroll-pane .increment-button, .scroll-pane .decrement-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.progress-bar {
  -fx-indeterminate-bar-length: 100;
}
.progress-bar > .bar {
  -fx-background-color: #444;
  -fx-background-insets: 1 1 2 1;
  -fx-padding: 0.25em;
}
.progress-bar:indeterminate > .bar {
  -fx-background-color: linear-gradient(to left, transparent, -fx-accent);
}
.progress-bar > .track {
  -fx-background-color: transparent;
}

.h1 {
  -fx-font-size: 16px;
}

.h2 {
  -fx-font-size: 14px;
}
